<div class='bg-gray-100 text-center mt-5 p-5 shadow'>
  <h2 class='text-gray-600 font-black text-3xl'>
    Resumen
    </h2>

    <p class='my-2'>
      <span class='font-bold'>Marca: </span>
      {{datos.marca}}
      </p>


      <p class='my-2'>
      <span class='font-bold'>Plan: </span>
     {{datos.plan}}
      </p>


      <p class='my-2'>
      <span class='font-bold'>Año del auto: </span>
     {{datos.year}}
      </p>


      <p class='my-2 text-2xl'>
      <span class='font-bold'>Total Cotizacion: </span>
     {{datos.resultado}}
      </p>


</div>
